<p id="notice"><%= notice %></p>
<input type="hidden" id="project_id">
<input type="hidden" id="diagram_id">
<div style="display: none;" class="settings"></div>

<!--Step-->
<div class="project_stepy"></div>

<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist" id="project_content" style="display: none;">
    <li role="presentation" class="active"><a href="#basic" aria-controls="basic" role="tab" data-toggle="tab">Basic</a>
    </li>
    <li role="presentation"><a href="#plan" aria-controls="plan" role="tab" data-toggle="tab">Plan</a></li>
    <li role="presentation">
      <a href="#invite_people" aria-controls="invite_people" role="tab" data-toggle="tab">Invite User</a></li>

    <li role="presentation">
      <a href="#ie_structure" aria-controls="ie_structure" role="tab" data-toggle="tab">IE Structure</a>
    </li>

    <li role="presentation">
      <a href="#kpi_setting" aria-controls="kpi_setting" role="tab" data-toggle="tab"> KPI Setting</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <!--Basic-->
    <div role="tabpanel" class="tab-pane active step_content" id="basic">
      <!--Here is project basic info-->
      <div class="container" style="padding: 20px;margin-top: 30px;">
        <div class="row">
          <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 project-font">
            Project Name
          </div>
          <div class="col-lg-10 col-md-9 col-sm-8 col-xs-6 ">
            <input type="text" class="form-control" id="project_name" value="fuzhen.song 测试项目">
          </div>
        </div>

        <div class="row" style="margin-top: 50px;">
          <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 project-font">
            Description
          </div>
          <div class="col-lg-10 col-md-9 col-sm-8 col-xs-6">
            <textarea name="project_description" id="project_desc" rows="10" class="form-control"></textarea>
          </div>
        </div>
      </div>

      <footer class="footer">
        <button type="submit" class="btn-flat-success btn-next btn-project-next">
          Next
        </button>
      </footer>
    </div>

    <!--Invite People-->
    <div role="tabpanel" class="tab-pane step_content" id="invite_people">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding: 5px 70px;">
          <div class="input-group" style="margin-bottom: 5px;">
            <span class="input-group-addon" id="edit_role" style="min-width: 60px;"> Role </span>
            <select id="edit_people_role" class="form-control" aria-describedby="edit_role">
              <%= options_for_select(Role.menu) %>
            </select>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding: 5px 70px;">
          <div class="input-group">
            <span class="input-group-addon" id="edit_email">Email</span>
            <%= select_tag('user[email]', options_from_collection_for_select(User.all, 'id', 'email', @email), include_blank: true, :class => 'form-control', :ariaDescribedby => "edit_email") %>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <button class="btn-flat-primary invite-finish">
            Invite
          </button>
        </div>
      </div>

      <table class="table people-table">
        <thead>
        <tr>
          <th>Email</th>
          <th>Role</th>
          <th>Options</th>
        </tr>
        </thead>
        <tbody class="people-tbody"></tbody>
      </table>

      <footer class="footer">
        <button type="submit" class="btn-flat-success btn-next btn-people-next">
          Next
        </button>
      </footer>
    </div>

    <!--Plan-->
    <div role="tabpanel" class="tab-pane step_content" id="plan">
      <div class="row ">
        <button class="add-plan btn-flat-success">
          <i class="glyphicon glyphicon-plus-sign"></i>
          Add Plan
        </button>
      </div>

      <table class="table plan-table">
        <thead>
        <tr>
          <th>Name</th>
          <th>DateFrom</th>
          <th>DateTo</th>
          <th>Options</th>
        </tr>
        </thead>
        <tbody class="plan-tbody"></tbody>
      </table>

      <div class="plan-tips" style="display: none;">
        <b>You can do it later</b>
      </div>

      <footer class="footer">
        <button type="submit" class="btn-flat-success btn-next btn-plan-next">
          Skip
        </button>
      </footer>
    </div>

    <!--IE Structure-->
    <div role="tabpanel" class="tab-pane step_content" id="ie_structure">

      <div class="row structure-title" style="margin: 0;border-bottom: 1px solid #23B7E5;">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div id="myPaletteDiv"></div>
        </div>
        <div class="col-lg-6 col-mc-6 col-sm-6 col-xs-12" style="text-align: right; padding-right: 26px;">
          <button id="loadModel" class="btn-flat-success" onclick="load()" style="width: 140px; height: 40px; margin-top:8px;">Load</button>
          <button id="hideTree" style="background:none;border:none;outline:none;color:orange;" title="隐藏树">
            <i class="glyphicon glyphicon-align-justify"></i>
          </button>
        </div>
      </div>

      <div class="structure-content">
        <div style="display: inline-block; padding: 5px; width:80%;">
          <div id="myDiagramDiv" style="border: 1px solid #23B7E5;"></div>
        </div>
        <div style="display: inline-block; padding: 5px; width:18%">
          <div id="myTreeView" style="border: solid 1px #23B7E5;"></div>
        </div>
      </div>

      <!--will display-->
      <textarea id="mySavedModel" style="display:none;width:100%;height:300px;margin-top: 100px;"></textarea>

      <footer class="footer">
        <button type="submit" class="btn-flat-success btn-next btn-ie-structure-next">
          Next
        </button>
      </footer>
    </div>

    <!--Kpi Setting-->
    <div role="tabpanel" class="tab-pane step_content" id="kpi_setting">
      <div id="kpi_settings" class="panel-group" role="tablist" aria-multiselectable="true"></div>

      <footer class="footer">
        <button type="submit" class="btn-flat-success btn-next btn-kpi-setting-next">
          Finish
        </button>
      </footer>
    </div>
  </div>
</div>

<!--Plan-->
<div style="display:none">
  <div id="plan_content">
    <div class="popModal_content">
      <div class="input-group">
        <span class="input-group-addon" id="edit_plan_name_span">Name</span>
        <input id="edit_plan_name" class="form-control" placeholder="Plan Name" aria-describedby="edit_plan_name_span">
      </div>

      <div class="input-group" style="margin-top: 5px;margin-bottom: 5px;">
        <span class="input-group-addon" id="edit_date_from_span">From</span>
        <input id="edit_date_from" class="form-control datetime-picker" placeholder="Date From" aria-describedby="edit_date_from_span">
      </div>

      <div class="input-group">
        <span class="input-group-addon" id="edit_date_to_span">To</span>
        <input id="edit_date_to" type="text" class="form-control datetime-picker" placeholder="Date To" aria-describedby="edit_date_to_span">
      </div>
    </div>

    <div class="popModal_footer">
      <button type="button" class="btn-flat-primary" data-popModalBut="ok">Add</button>
    </div>
  </div>
</div>

<!--&lt;!&ndash;Target&ndash;&gt;-->
<!--<div style="display: none;">-->
<!--<div id="target-modal">-->
<!--<div class="popModal_content">-->
<!--<div class="input-group">-->
<!--<span class="input-group-addon" id="target-name">target name</span>-->
<!--<input type="text" class="form-control input-target-name" placeholder="Target Name" aria-describedby="target-name">-->
<!--</div>-->

<!--<div class="input-group" style="margin-top: 5px;">-->
<!--<span class="input-group-addon" id="target-value">target value</span>-->
<!--<input type="number" class="form-control input-target-value" placeholder="Target Value" aria-describedby="target-value">-->
<!--</div>-->
<!--</div>-->

<!--<div class="popModal_footer">-->
<!--<button type="button" class="btn-flat-primary" data-popModalBut="ok">Add</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--Target-->
<div style="display: none;">
  <div id="round-target-modal">
    <div class="popModal_content">
      <div class="input-group">
        <span class="input-group-addon" id="round-target-name">target name</span>
        <input type="text" class="form-control input-round-target-name" placeholder="Target Name" aria-describedby="round-target-name">
      </div>

      <div class="input-group" style="margin-top: 5px;">
        <span class="input-group-addon" id="round-target-value">target value</span>
        <input type="number" class="form-control input-round-target-value" placeholder="Target Value" aria-describedby="round-target-value">
      </div>
    </div>

    <div class="popModal_footer">
      <button type="button" class="btn-flat-primary" data-popModalBut="ok">Add</button>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  var ScreenHeight = $(window).height();
  var ScreenWidth = $(window).width();
  var myDiagram = "";

  $('#myDiagramDiv').css({height: (ScreenHeight * 0.58) + 'px'});
  $('#myTreeView').css({height: (ScreenHeight * 0.58) + 'px'});

  /************************************************************************
   invite people
   **********************************************************************/
  $('.invite-finish').click(function () {
    var PeopleRole = $('#edit_people_role').val();
    var PeopleRoleDisplay = $('#edit_people_role').children("option:selected").html();
    var PeopleEmail = $('#user_email').children("option:selected").html();
    var ProjectID = $('#project_id').val();

    if (PeopleEmail == "") {
      $('<div>Email Cann\'t be Empty.</div>').notifyModal();
    } else {
      $.ajax({
        url: '/project_users',
        type: 'post',
        dataType: 'json',
        data: {
          project_id: ProjectID,
          email: PeopleEmail,
          role: PeopleRole
        },
        success: function (data) {
          if (data.result) {
            $('<tr id="' + data.project_user.id + '"><td>' + PeopleEmail + '</td><td value=' + PeopleRole + '>' + PeopleRoleDisplay + '</td>' +
                '<td><i class="glyphicon glyphicon-trash IconA people-delete" style="color:#C0392B;"></i></td></tr>').prependTo('.people-tbody').ready(function () {
            });
          } else {
            $('<div>' + data.content + '</div>').notifyModal();
          }
        },
        error: function () {
          $('<div>Something Error!</div>').notifyModal();
        }
      });
    }
  });

  $('.people-tbody').on('click', '.people-delete', function () {
    var PeopleTr = $(this).parent().parent();

    var PeopleID = PeopleTr.attr("id");

    $.ajax({
      url: '/project_users/' + PeopleID,
      type: 'delete',
      dateType: 'json',
      success: function (data) {
        if (data.result) {
          PeopleTr.remove();
        } else {
          $('<div>' + data.content + '</div>').notifyModal();
        }
      },
      error: function () {
        console.log("Something Error!");
      }
    });
  });

  /*Add  Plan*/
  $('.add-plan').click(function () {
    $('.add-plan').popModal({
      html: $('#plan_content').html(),
      placement: 'bottomRight',
      showCloseBtn: true,
      onDocumentClickClose: false,
      onOkBut: function () {
        var PlanName = $('#edit_plan_name').val();
        var PlanFrom = $('#edit_date_from').val();
        var PlanTo = $('#edit_date_to').val();
        var ProjectID = $('#project_id').val();

        if (PlanName == "") {
          $('<div> 计划名称不能为空</div>').notifyModal();
        } else if (PlanFrom == "") {
          $('<div> 开始日期不能为空</div>').notifyModal();
        } else if (PlanTo == "") {
          $('<div> 结束日期不能为空</div>').notifyModal();
        } else {
          $.ajax({
            url: '/plans',
            type: 'post',
            dateType: 'json',
            data: {
              project_id: ProjectID,
              title: PlanName,
              start_time: PlanFrom,
              end_time: PlanTo
            },
            success: function (data) {
//              console.log(data);
              if (data.result) {
                $('<tr id="' + data.plan.id + '"><td>' + data.plan.title + '</td><td>' + data.plan.start_time + '</td><td>' + data.plan.end_time + '</td>' +
                    '<td><i class="glyphicon glyphicon-trash IconA plan-delete" style="color:#C0392B;"></i></td></tr>').prependTo('.plan-tbody').ready(function () {
                });

                $('.btn-plan-next').html("Next");
              } else {
                $('<div>' + data.content + '</div>').notifyModal();
              }
            },
            error: function () {
              console.log("Error");
            }
          });
        }
      },
      onLoad: function () {
        $('.datetime-picker').datetimepicker({
          lang: 'ch',
          timepicker: false
        });
      }
    });
  });

  $('.plan-tbody').on('click', '.plan-delete', function () {
    var PlanTr = $(this).parent().parent();
    var PlanID = PlanTr.attr("id");

    $.ajax({
      url: '/plans/' + PlanID,
      type: 'delete',
      dateType: 'json',
      success: function (data) {
        if (data.result) {
//          console.log(data);
          PlanTr.remove();
        } else {
          $('<div>' + data.content + '</div>').notifyModal();
        }
      },
      error: function () {
        console.log("Something Error!");
      }
    });
  });

  $('.btn-next').click(function () {
    var nowStep = $('.project_stepy').getStep();

    var BtnPorject = $(this).hasClass('btn-project-next');
    if (BtnPorject) {
      var ProjectName = $('#project_name').val();
      var ProjectDesc = $('#project_desc').val();

      if (ProjectName == "") {
        $('#project_name').css({
          border: '2px solid #C0392B;'
        });
        $('<div>项目名称不能为空.</div>').notifyModal();
      }
      else {
        $.ajax({
          url: '/projects',
          type: 'post',
          dataType: 'json',
          data: {
            name: ProjectName,
            description: ProjectDesc
          },
          success: function (data) {
            console.log(data);
            if (data.result) {
              nowStep++;
              $('.project_stepy').setStep(nowStep);

              click_tabs("project_content", "invite_people");

              $('#project_id').val(data.project.id);
              $('#diagram_id').val(data.diagram.id);

              for (var kpi in data.settings) {
                Settings.add_target(data.settings[kpi])
              }
            } else {
              $('<div>' + data.content + '</div>').notifyModal();
            }
          },
          error: function () {
            console.log("Something Error!");
          }
        });
      }
    }

    var BtnInvitePeople = $(this).hasClass('btn-people-next');
    if (BtnInvitePeople) {
      nowStep++;
      $('.project_stepy').setStep(nowStep);
      click_tabs("project_content", "plan");
    }

    var BtnPlan = $(this).hasClass('btn-plan-next');
    if (BtnPlan) {
      nowStep++;
      $('.project_stepy').setStep(nowStep);
      click_tabs("project_content", "ie_structure");
      Settings.round_layout($('#diagram_id').val());
      Settings.hideTree();
    }

    var BtnIEStructure = $(this).hasClass('btn-ie-structure-next');
    if (BtnIEStructure) {
      nowStep++;
      $('.project_stepy').setStep(nowStep);
      save();
      click_tabs("project_content", "kpi_setting");

      Settings.add_kpi_target('.add-kpi-target', '#round-target-modal', '.input-round-target-name', '.input-round-target-value');

      $('#CycleTime').collapse('show');
    }

    var BtnKPISetting = $(this).hasClass('btn-kpi-setting-next');
    if (BtnKPISetting) {
      window.location.href = "http://" + window.location.host + "/projects/" + $('#project_id').val();
    }
  });

  Settings.default_target_save();

  $(".project_stepy").loadStep({
    size: "large",
    color: "green",
    steps: [{
      title: "Basic",
      content: "Project Basic Info"
    }, {
      title: "Invite User",
      content: "You can Invite people for your project"
    }, {
      title: "Plan",
      content: "Project Plan"
    }, {
      title: "IE Structure",
      content: "IE Structure"
    }, {
      title: "KPI Setting",
      content: "Set KPI Target"
    }]
  });

  function click_tabs(project_id, content_id) {
    $('#' + project_id + ' a[href="#' + content_id + '"]').tab('show');
  }

  $(window).load(function () {
    if ($('#notice').val() != "") {
      $('#notice').notifyModal();
    }

    var StepContentHeight = $('.step_content').height();
    $('.plan-tips').css({lineHeight: StepContentHeight + 'px'});

    $('.datetime-picker').datetimepicker({
      lang: 'ch'
    });
  });

  //TODO:Refresh and Close Events would be do something
  $(window).resize(function () {
    if (ScreenHeight < 520) {
      $('#project_desc').attr('rows', 0);
    } else {
      $('#project_desc').attr('rows', 10);
    }

    var StepContentHeight = $('.step_content').height();
    $('.plan-tips').css({lineHeight: StepContentHeight + 'px'});
  });

  function load() {
    save();
    myDiagram.model = go.Model.fromJson(document.getElementById("mySavedModel").value);

    // share all of the data with the tree view
    myTreeView.model.nodeDataArray = myDiagram.model.nodeDataArray;

    // share the UndoManager too!
    myTreeView.model.undoManager = myDiagram.model.undoManager;
  }

  function save() {
    document.getElementById("mySavedModel").value = myDiagram.model.toJson();

    myDiagram.isModified = false;

    $.ajax({
      url: '/diagrams/' + $('#diagram_id').val(),
      type: 'put',
      dataType: 'json',
      data: {
        parse: true,
        diagram: {
          layout: myDiagram.model.toJson()
        }
      }
    });
  }

  Settings.init();
</script>
