<%= @project.project_items %>
<%= @project.project_items.pdca_items %>

<style>
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background-color: #f5f5f5;
  }
</style>

<ul class="nav nav-tabs " role="tablist" style="margin-top:-10px; margin-left:-30px;">
  <li role="presentation" class="active">
    <a href="#dashboard_show" aria-controls="dashboard_show" role="tab" data-toggle="tab">Dashboard</a>
  </li>
  <li role="presentation">
    <a href="#project_show" aria-controls="project_show" role="tab" data-toggle="tab">Project</a>
  </li>
</ul>

<div class="tab-content">
  <!--Project-->
  <div role="tabpanel" class="tab-pane" id="project_show">
    <!--Basic-->
    <div class="panel panel-primary" style="margin-top:20px;border: none;">
      <div class="panel-heading" style="background: #7266BA;">
        <h4>[Project] Basic Information</h4>

        <div class="pull-right" style="margin-top: -25px; font-size: 1.3em;cursor: pointer;">
          <i class="glyphicon glyphicon-minus-sign" style="margin-right: 20px;"></i>
        </div>
      </div>
      <div class="panel-body">
        <div class="project-show-info">
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3" style="text-align:center; font-size:1.2em; font-weight:bold;">
              Porject Name
            </div>
            <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
              <input type="text" class="form-control">
            </div>
          </div>

          <div class="row" style="margin-top:20px; font-size:1.2em; font-weight:bold;">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3" style="text-align:center;">
              Description
            </div>
            <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
              <textarea class="form-control" name="" id="" cols="30" rows="10"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Plan-->
    <div class="panel panel-primary" style="border: none;">
      <div class="panel-heading" style="background: #23B7E5;">
        <h4>[Project] Plan</h4>

        <div class="pull-right" style="margin-top: -25px; font-size: 1.3em;cursor: pointer;">
          <i class="glyphicon glyphicon-minus-sign"></i>
          <i class="glyphicon glyphicon-plus-sign" style="margin-left: 20px;margin-right: 20px;"></i>
        </div>
      </div>
      <div class="panel-body">
        <table class="table table-default table-hovered">
          <thead>
          <tr>
            <th>Name</th>
            <th>Date From</th>
            <th>Date To</th>
            <th>Days</th>
            <th>Options</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Plan1</td>
            <td>2016-07-20</td>
            <td>2016-07-22</td>
            <td>3</td>
            <td>
              <i class="glyphicon glyphicon-pencil IconA" style="color: #23B7E5;"></i>

              <i class="glyphicon glyphicon-trash IconA" style="color: #F05050;"></i>
            </td>
          </tr>
          <tr>
            <td>Plan2</td>
            <td>2016-07-21</td>
            <td>2016-07-22</td>
            <td>2</td>
            <td>
              <i class="glyphicon glyphicon-pencil IconA" style="color: #23B7E5;"></i>

              <i class="glyphicon glyphicon-trash IconA" style="color: #F05050;"></i>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!--Members-->
    <div class="panel panel-primary" style="border: none;">
      <div class="panel-heading" style="border: none;">
        <h4>[Project] Members</h4>

        <div class="pull-right" style="margin-top: -25px; font-size: 1.3em;cursor: pointer;">
          <i class="glyphicon glyphicon-minus-sign"></i>
          <i class="glyphicon glyphicon-plus-sign" style="margin-left: 20px;margin-right: 20px;"></i>
        </div>
      </div>
      <div class="panel-body">

        <table class="table table-hovered">
          <thead>
          <tr>
            <th>Email</th>
            <th>Role</th>
            <th>Options</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>user01@ci.com</td>
            <td>管理员</td>
            <td>
              <i class="glyphicon glyphicon-pencil IconA" style="color: #23B7E5;"></i>

              <i class="glyphicon glyphicon-trash IconA" style="color: #F05050;"></i>

            </td>
          </tr>
          <tr>
            <td>user02@ci.com</td>
            <td>用户</td>
            <td>

              <i class="glyphicon glyphicon-pencil IconA" style="color: #23B7E5;"></i>

              <i class="glyphicon glyphicon-trash IconA" style="color: #F05050;"></i>

            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <!--Dashboard-->
  <div role="tabpanel" class="tab-pane active" id="dashboard_show">

    <div id="left_round" style="position:absolute; top:120px; left:2px;background:transparent;width:100px;min-height: 600px;"></div>

    <div class="dashboard-options">
      <a href="#dashboard_options" class="wheel-button sw">
        <span class="glyphicon glyphicon-plus"></span>
      </a>
      <ul id="dashboard_options" data-angle="NE" class="wheel">
        <li class="item">
          <a href="#" title="Improve">
            <i class="glyphicon glyphicon-adjust"></i>
          </a>
        </li>

        <li class="item"><a href="#" title="Compare">
          <i class="glyphicon glyphicon-stats"></i>
        </a>
        </li>

        <li class="item"><a href="#" title="Edit IE Structure">
          <i class="glyphicon glyphicon-th-large"></i>
        </a>
        </li>

        <li class="item"><a href="#" title="Edit KPI">
          <i class="glyphicon glyphicon-th-list"></i>
        </a></li>

        <li class="item"><a href="#" title="Mark Best">
          <i class="glyphicon glyphicon-star"></i>
        </a></li>
      </ul>
    </div>

    <!--Round -->
    <div style="margin-left:85px;">

      <div class="row">
        <div class="chart-title" style="margin-left: 15px;margin-right: 15px;">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 chart-title-font">
            Cycle Time Chart
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 chart-title-icon">
            <i class="glyphicon glyphicon-resize-vertical" style="transform:rotate(45deg);"></i>
            <i class="glyphicon glyphicon-refresh" style="color: steelblue;"></i>
            <i class="glyphicon glyphicon-cog" style="color: #7F8C8D;"></i>
          </div>
        </div>
        <div id="cycle_time_kpi_content"></div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="chart-title">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 chart-title-font">
              Capacity Chart
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 chart-title-icon">
              <i class="glyphicon glyphicon-resize-vertical" style="transform:rotate(45deg);"></i>
              <i class="glyphicon glyphicon-refresh" style="color: steelblue;"></i>
              <i class="glyphicon glyphicon-cog" style="color: #7F8C8D;"></i>
            </div>
          </div>
          <div id="capacity"></div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="chart-title">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 chart-title-font">
              HC Chart
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 chart-title-icon">
              <i class="glyphicon glyphicon-resize-vertical" style="transform:rotate(45deg);"></i>
              <i class="glyphicon glyphicon-refresh" style="color: steelblue;"></i>
              <i class="glyphicon glyphicon-cog" style="color: #7F8C8D;"></i>
            </div>
          </div>
          <div id="hc"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="chart-title">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 chart-title-font">
              HC Chart
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 chart-title-icon">
              <i class="glyphicon glyphicon-resize-vertical" style="transform:rotate(45deg);"></i>
              <i class="glyphicon glyphicon-refresh" style="color: steelblue;"></i>
              <i class="glyphicon glyphicon-cog" style="color: #7F8C8D;"></i>
            </div>
          </div>
          <div id="e1"></div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <div class="chart-title">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 chart-title-font">
              HC Chart
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 chart-title-icon">
              <i class="glyphicon glyphicon-resize-vertical" style="transform:rotate(45deg);"></i>
              <i class="glyphicon glyphicon-refresh" style="color: steelblue;"></i>
              <i class="glyphicon glyphicon-cog" style="color: #7F8C8D;"></i>
            </div>
          </div>
          <div id="lob"></div>
        </div>
      </div>

      <div class="row">
        <div class="pdca-title">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="label label-primary">PDCA</div>
          </div>
          <div class="pdca-title-icon col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <i class="IconA glyphicon glyphicon-plus-sign hvr-bounce-out md-trigger" data-modal="modal-1" style="font-size: 2em; color: #1C75BF;"></i>
          </div>
        </div>
      </div>

      <div class="md-modal md-effect-1" id="modal-1">
        <div class="md-content">
          <h4>ADD PDCA</h4>
          <div class="pull-right md-close" style="margin-top: -50px;margin-right: -20px;">
            <i style="color: #E67E22;" class="glyphicon glyphicon-remove"></i>
          </div>

          <div class="pdca-list">
            <input type="text" class="form-control" id="pdca_item" placeholder="PDCA Item">

            <textarea type="text" id="pdca_point" class="form-control" placeholder="Imptovement Point" style="margin-top: 10px; margin-bottom: 10px;"></textarea>

            <textarea class="form-control" id="pdca_owner"></textarea>

            <input type="text" id="deadline" class="form-control date-picker" placeholder="Deadline" style="margin-top: 10px;">
          </div>

          <div class="pdca-btn">
            <button class="btn-flat-primary pdca-btn-add">
              ADD
            </button>
          </div>
        </div>
      </div>

      <div class="md-overlay"></div>

      <div class="pdca">
        <table class="table table-default">
          <thead>
          <tr>
            <th>No.</th>
            <th>Item</th>
            <th>Improvement Point</th>
            <th>Saving</th>
            <th>Owner</th>
            <th>Deadline</th>
            <th>Status</th>
            <th>Remark</th>
            <th>Picture</th>
            <th>Options</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>1</td>
            <td>盲堵工位工作分配不均</td>
            <td>现场优化</td>
            <td>Xu yinjun
              Zhou wuseng
            </td>
            <td></td>
            <td>2015/10/12</td>
            <td>
              <span class="label label-primary">Ongoing</span>
            </td>
            <td></td>
            <td></td>
            <td>
              <i class="IconA glyphicon glyphicon-pencil edit-pdca" style="color: steelblue;"></i>
              <i class="IconA glyphicon glyphicon-remove-circle cancel-pdca" style="color: #16A085;"></i>
              <i class="IconA glyphicon glyphicon-ok-sign finish-pdca" style="color: #E67E22;"></i>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>总装2-2瓶颈工位</td>
            <td> 工艺调整（部分工艺移至8-2）</td>
            <td>10s/pcs</td>
            <td>Xu yinjun</td>
            <td>2015/10/22</td>
            <td>
              <span class="label label-success">Done</span>
            </td>
            <td>调整扎带</td>
            <td></td>
            <td>
            </td>
          </tr>

          <tr>
            <td>2</td>
            <td>
              <del>预装7工位作业工时较长</del>
            </td>
            <td>
              <del>部分包胶移至板车上</del>
            </td>
            <td>
              <del></del>
            </td>
            <td>
              <del>Xu yinjun Shao na</del>
            </td>
            <td>
              <del>2015/10/22</del>
            </td>
            <td>
              <span class="label label-warning">NG</span>
            </td>
            <td>
              <del> AV回复KSK生产模式不能调整</del>
            </td>
            <td></td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="row">
        <div class="log-title">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="label label-warning">LOG</div>
          </div>
        </div>
      </div>

      <div class="log">
        <div class="alert alert-success" role="alert">
          成功创建PDCA： 盲堵工位工作分配不均； 操作者： fuzhen.song
        </div>

        <div class="alert alert-warning" role="alert">
          修改PDCA： 盲堵工位工作分配不均； 操作者： fuzhen.song
        </div>

        <div class="alert alert-danger" role="alert">
          删除PDCA： 盲堵工位工作分配不均； 操作者： fuzhen.song
        </div>

        <div class="alert alert-info" role="alert">
          标记最优： 将本轮标记为最优； 操作者: fuzhen.song
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  ModalEffets.init();

  roundShow();

  //  Show Round
  function roundShow() {
    var $_$ = go.GraphObject.make;  // for conciseness in defining templates

    // a collection of colors
    var colors = {
      blue: "#00B5CB",
      orange: "#F47321",
      green: "#C8DA2B",
      gray: "#888",
      white: "#F5F5F5",
      red: '#C0392B'
    };

    myDiagram = $_$(go.Diagram, "left_round", {
      allowMove: false,
      allowSelect: false,
      allowHorizontalScroll: false,
      allowVerticalScroll: false,
      isReadOnly: true,  // don't allow user to change the diagram
      initialContentAlignment: go.Spot.Top,
//      "toolManager.mouseWheelBehavior": go.ToolManager.WheelZoom,
      "undoManager.isEnabled": true,
      layout: $_$(go.TreeLayout, {
        angle: 90
      })
    });

    // Define a simple template consisting of the icon surrounded by a filled circle
    myDiagram.nodeTemplate =
        $_$(go.Node, "Auto",
            {
              selectable: false,
              click: function (e, obj) {
                alert("key:" + obj.data.key + "\n text:" + obj.data.text + "\n desc:" + obj.data.desc + "\n color:" + obj.data.color);
              }
            },
            $_$(go.Shape, "Display",
                {
                  fill: colors['blue'],
                  stroke: null,
                  width: 80,
                  height: 40,
                  angle: 180
                },
                new go.Binding("fill", "color")),
            $_$(go.TextBlock, "R1",
                {stroke: "white", font: '12pt Verdana, sans-serif'},
                new go.Binding("text", "text", function (s) {
                  return s;
                })),
            {
              toolTip: $_$(go.Adornment, "Auto",
                  $_$(go.Shape, "TransmittalTape",
                      {fill: "white", stroke: colors["gray"], strokeWidth: 1, angle: 180}),
                  $_$(go.TextBlock, {margin: 8, stroke: "black", font: "bold 14px sans-serif"},
                      new go.Binding("text", "desc")))
            }
        );

    myDiagram.nodeTemplateMap.add("Star",
        $_$(go.Node, "Auto",
            {
              selectable: false,
              click: function (e, obj) {
                alert("key:" + obj.data.key + "\n text:" + obj.data.text + "\n desc:" + obj.data.desc + "\n color:" + obj.data.color);
              }
            },
            $_$(go.Shape, "FivePointedStar",
                {
                  fill: colors['blue'],
                  stroke: null,
                  width: 60,
                  height: 60
                },
                new go.Binding("fill", "color")),
            $_$(go.TextBlock, "R1",
                {
                  stroke: "white",
                  font: '12pt Verdana, sans-serif',
                  margin: 8
                },
                new go.Binding("text", "text", function (s) {
                  return s;
                }))
        ));

    myDiagram.nodeTemplateMap.add("Round",  // the default category
        $_$(go.Node, "Spot",
            {
              selectable: false,
              click: function (e, obj) {
                alert("key:" + obj.data.key + "\n text:" + obj.data.text + "\n color:" + obj.data.color);
              }
            },
            $_$(go.Panel, "Auto",
                $_$(go.Shape, "RoundedRectangle",
                    {fill: colors['blue'], stroke: null},
                    new go.Binding("figure", "figure")),
                $_$(go.TextBlock, "Round",
                    {
                      stroke: "white",
                      font: "bold 12pt Helvetica, Arial, sans-serif",
                      margin: 8,
                      maxSize: new go.Size(160, NaN),
                      editable: false,
                      minSize: new go.Size(60, NaN),
                      textAlign: 'center'
                    },
                    new go.Binding("text", "text").makeTwoWay(),
                    new go.Binding("fill", "color"))
            )
        ));

    // Define a Link template that routes orthogonally, with no arrowhead
    myDiagram.linkTemplate =
        $_$(go.Link,
            {
              routing: go.Link.Orthogonal,
              corner: 5,
              toShortLength: -2,
              fromShortLength: -2,
              selectable: false
            },
            $_$(go.Shape, {strokeWidth: 4, stroke: colors["gray"]})); // the link shape

    // Create the model data that will be represented by Nodes and Links
    myDiagram.model = new go.GraphLinksModel(
        [
          {category: "Round", key: 1, text: "轮次展示", color: colors["gray"]},
          {key: 2, text: "R4", desc: "this is Round 4", color: colors["blue"]},
          {key: 3, text: "R3", desc: "this is Round 3", color: colors["green"]},
          {key: 4, text: "R2", desc: "this is Round 2", color: colors["blue"]},
          {category: "Star", key: 5, text: "R1", desc: "this is Round 1, Star Round.", color: colors["orange"]},
          {key: 6, text: "R1", desc: "this is Round 3", color: colors["green"]},
          {key: 7, text: "R0", desc: "this is Round 2", color: colors["blue"]}
        ],
        [
          {from: 1, to: 2},
          {from: 2, to: 3},
          {from: 3, to: 4},
          {from: 4, to: 5},
          {from: 5, to: 6},
          {from: 6, to: 7}
        ]);
  }

  var average_series = [190, 184, 200, 211, 202, 200, 312, 302, 203];
  var minimum_series = [200, 159, 202, 230, 220, 114, 130, 220, 130];
  var takt_series = [200, 200, 200, 200, 200, 200, 200, 200, 200];

  var capacity_series = [4, 14, 20, 21, 22, 2, 32, 32, 23];
  var hc_series = [4, 14, 20, 21, 22, 2, 32, 32, 23];
  var e1_series = [4, 14, 20, 21, 22, 2, 32, 32, 23];
  var lob_series = [4, 14, 20, 21, 22, 2, 32, 32, 23];

  var cycle_time_categories = ["Apple", "Banana", "Orange", "Carrot", "Potato", "Tomato", "Cod", "Salmon", "Tuna"];
  var capacity_categories = ["Apple", "Banana", "Orange", "Carrot", "Potato", "Tomato", "Cod", "Salmon", "Tuna"];
  var hc_categories = ["Apple", "Banana", "Orange", "Carrot", "Potato", "Tomato", "Cod", "Salmon", "Tuna"];
  var e1_categories = ["Apple", "Banana", "Orange", "Carrot", "Potato", "Tomato", "Cod", "Salmon", "Tuna"];
  var lob_categories = ["Apple", "Banana", "Orange", "Carrot", "Potato", "Tomato", "Cod", "Salmon", "Tuna"];

  var ChartStyle = {
    ChartBackground: "transparent",
    label_font_color: "black",
    tooltips_font_color: "black",
    averageColumnColor: "#2ECC71",
    minimumLineColor: "#E74C3C",
    taktLineColor: "#3498D8",
    capacityColumnColor: "#C0392B",
    hcColumnColor: "#23B7E5",
    e1ColumnColor: "#1C75BF",
    lobColumnColor: "#FF902B"
  };

  var cycle_time_chart = $('#cycle_time_kpi_content').highcharts({
    chart: {
      backgroundColor: ChartStyle.ChartBackground,
      spacingRight: 20
    },
    title: {
      text: "CycleTime", x: -20,
      style: {
        color: ChartStyle.label_font_color
      }
    },
    subtitle: {
      text: "Sub title", x: -20,
      style: {
        color: ChartStyle.label_font_color
      }
    },
    credits: {
      enabled: false
    },
    xAxis: {
      categories: cycle_time_categories,
      labels: {
        formatter: function () {
          return this.value;
        },
        style: {
          color: ChartStyle.label_font_color
        }
      }
    },
    yAxis: {
      title: {
        text: "Time(s)",
        style: {
          color: ChartStyle.label_font_color
        }
      },
      plotLines: [{
        value: 0,
        width: 1,
        color: ChartStyle.label_font_color
      }],
      label: {
        style: {
          color: ChartStyle.label_font_color
        }
      }
    },
    tooltip: {
      valueSuffix: "s",
      formatter: function () {
        return '<span><b>' + this.x + '</b><br/><b>CycleTime:</b>' + this.y + '</span>'
      },
      style: {
        color: ChartStyle.tooltips_font_color
      },
      useHTML: true
    },
    legend: {
      layout: 'horizontal',
      align: 'center',
      verticalAlign: 'bottom',
      itemStyle: {
        color: ChartStyle.label_font_color
      }
    },
    plotOptions: {
      column: {
        dataLabels: {
          enabled: true,
          color: ChartStyle.label_font_color
        },
        events: {
          click: function (e) {
            //Click
            console.log("click");
          }
        },
        color: ChartStyle.label_font_color,
        borderWidth: "0"
      }
    },
    series: [{
      type: "column",
      name: "Average",
      data: average_series,
      color: ChartStyle.averageColumnColor
    },
      {
        type: "line",
        name: "Minimum",
        data: minimum_series,
        color: ChartStyle.minimumLineColor
      },
      {
        type: "line",
        name: "Takt",
        data: takt_series,
        color: ChartStyle.taktLineColor
      }
    ]
  });

  var capacity_chart = $('#capacity').highcharts({
    chart: {
      backgroundColor: ChartStyle.ChartBackground,
      spacingRight: 20
    },
    title: {
      text: "Capacity", x: -20,
      style: {
        color: ChartStyle.label_font_color
      }
    },
    subtitle: {
      text: "Sub title", x: -20,
      style: {
        color: ChartStyle.label_font_color
      }
    },
    credits: {
      enabled: false
    },
    xAxis: {
      categories: capacity_categories,
      labels: {
        formatter: function () {
          return this.value;
        },
        style: {
          color: ChartStyle.label_font_color
        }
      }
    },
    yAxis: {
      title: {
        text: "pcs(H)",
        style: {
          color: ChartStyle.label_font_color
        }
      },
      plotLines: [{
        value: 0,
        width: 1,
        color: ChartStyle.label_font_color
      }],
      label: {
        style: {
          color: ChartStyle.label_font_color
        }
      }
    },
    tooltip: {
      valueSuffix: "s",
      formatter: function () {
        return '<span><b>' + this.x + '</b><br/><b>Capacity:</b>' + this.y + '</span>'
      },
      style: {
        color: ChartStyle.tooltips_font_color
      },
      useHTML: true
    },
    legend: {
      layout: 'horizontal',
      align: 'center',
      verticalAlign: 'bottom',
      itemStyle: {
        color: ChartStyle.label_font_color
      }
    },
    plotOptions: {
      column: {
        dataLabels: {
          enabled: true,
          color: ChartStyle.label_font_color
        },
        events: {
          click: function (e) {
            //Click
          }
        },
        color: ChartStyle.label_font_color,
        borderWidth: "0"
      }
    },
    series: [{
      type: "column",
      name: "Capacity",
      data: capacity_series,
      color: ChartStyle.capacityColumnColor
    }]
  });

  var hc_chart = $('#hc').highcharts({
    chart: {
      backgroundColor: ChartStyle.ChartBackground,
      spacingRight: 20
    },
    title: {
      text: "HC", x: -20,
      style: {
        color: ChartStyle.label_font_color
      }
    },
    subtitle: {
      text: "Sub title", x: -20,
      style: {
        color: ChartStyle.label_font_color
      }
    },
    credits: {
      enabled: false
    },
    xAxis: {
      categories: hc_categories,
      labels: {
        formatter: function () {
          return this.value;
        },
        style: {
          color: ChartStyle.label_font_color
        }
      }
    },
    yAxis: {
      title: {
        text: "",
        style: {
          color: ChartStyle.label_font_color
        }
      },
      plotLines: [{
        value: 0,
        width: 1,
        color: ChartStyle.label_font_color
      }],
      label: {
        style: {
          color: ChartStyle.label_font_color
        }
      }
    },
    tooltip: {
      valueSuffix: "s",
      formatter: function () {
        return '<span><b>' + this.x + '</b><br/><b>Capacity:</b>' + this.y + '</span>'
      },
      style: {
        color: ChartStyle.tooltips_font_color
      },
      useHTML: true
    },
    legend: {
      layout: 'horizontal',
      align: 'center',
      verticalAlign: 'bottom',
      itemStyle: {
        color: ChartStyle.label_font_color
      }
    },
    plotOptions: {
      column: {
        dataLabels: {
          enabled: true,
          color: ChartStyle.label_font_color
        },
        events: {
          click: function (e) {
            //Click
          }
        },
        color: ChartStyle.label_font_color,
        borderWidth: "0"
      }
    },
    series: [{
      type: "column",
      name: "HC",
      data: hc_series,
      color: ChartStyle.hcColumnColor
    }]
  });

  var e1_chart = $('#e1').highcharts({
    chart: {
      backgroundColor: ChartStyle.ChartBackground,
      spacingRight: 20
    },
    title: {
      text: "E1", x: -20,
      style: {
        color: ChartStyle.label_font_color
      }
    },
    subtitle: {
      text: "-- Sub title", x: -20,
      style: {
        color: ChartStyle.label_font_color
      }
    },
    credits: {
      enabled: false
    },
    xAxis: {
      categories: e1_categories,
      labels: {
        formatter: function () {
          return this.value;
        },
        style: {
          color: ChartStyle.label_font_color
        }
      }
    },
    yAxis: {
      title: {
        text: "",
        style: {
          color: ChartStyle.label_font_color
        }
      },
      plotLines: [{
        value: 0,
        width: 1,
        color: ChartStyle.label_font_color
      }],
      label: {
        style: {
          color: ChartStyle.label_font_color
        }
      }
    },
    tooltip: {
      valueSuffix: "%",
      formatter: function () {
        return '<span><b>' + this.x + '</b><br/><b>E1:</b>' + this.y + '</span>'
      },
      style: {
        color: ChartStyle.tooltips_font_color
      },
      useHTML: true
    },
    legend: {
      layout: 'horizontal',
      align: 'center',
      verticalAlign: 'bottom',
      itemStyle: {
        color: ChartStyle.label_font_color
      }
    },
    plotOptions: {
      column: {
        dataLabels: {
          enabled: true,
          color: ChartStyle.label_font_color
        },
        events: {
          click: function (e) {
            //Click
          }
        },
        color: ChartStyle.label_font_color,
        borderWidth: "0"
      }
    },
    series: [{
      type: "column",
      name: "E1",
      data: e1_series,
      color: ChartStyle.e1ColumnColor
    }]
  });

  var lob_chart = $('#lob').highcharts({
    chart: {
      backgroundColor: ChartStyle.ChartBackground,
      spacingRight: 20
    },
    title: {
      text: "LOB", x: -20,
      style: {
        color: ChartStyle.label_font_color
      }
    },
    subtitle: {
      text: "-- Sub title", x: -20,
      style: {
        color: ChartStyle.label_font_color
      }
    },
    credits: {
      enabled: false
    },
    xAxis: {
      categories: lob_categories,
      labels: {
        formatter: function () {
          return this.value;
        },
        style: {
          color: ChartStyle.label_font_color
        }
      }
    },
    yAxis: {
      title: {
        text: "",
        style: {
          color: ChartStyle.label_font_color
        }
      },
      plotLines: [{
        value: 0,
        width: 1,
        color: ChartStyle.label_font_color
      }],
      label: {
        style: {
          color: ChartStyle.label_font_color
        }
      }
    },
    tooltip: {
      valueSuffix: "%",
      formatter: function () {
        return '<span><b>' + this.x + '</b><br/><b>LOB:</b>' + this.y + '</span>'
      },
      style: {
        color: ChartStyle.tooltips_font_color
      },
      useHTML: true
    },
    legend: {
      layout: 'horizontal',
      align: 'center',
      verticalAlign: 'bottom',
      itemStyle: {
        color: ChartStyle.label_font_color
      }
    },
    plotOptions: {
      column: {
        dataLabels: {
          enabled: true,
          color: ChartStyle.label_font_color
        },
        events: {
          click: function (e) {
            //Click
          }
        },
        color: ChartStyle.label_font_color,
        borderWidth: "0"
      }
    },
    series: [{
      type: "column",
      name: "LOB",
      data: lob_series,
      color: ChartStyle.lobColumnColor
    }]
  });

  /*PDCA*/
  $('#pdca_owner').tagEditor({
    delimiter: ',',
    placeholder: 'Owner'
  });

  $('.pdca-btn-add').click(function () {
    var ItemID = <%= @project.project_items.id %>;
    var PDCAItem = $('#pdca_item').val();
    var PDCAPoint = $('#pdca_point').val();
    var PDCAEmail = $('#pdca_owner').tagEditor('getTags')[0].tags;
    var Deadline = $('#deadline').val();

    $.ajax({
      url: '/pdca_items',
      type: 'post',
      data: {
        project_item_id: ItemID,
        item: PDCAItem,
        improvement_point: PDCAPoint,
        emails: PDCAEmail,
        due_time: Deadline
      },
      success: function (data) {
        console.log("PDCA......");
        console.log(data);
        console.log("PDCA......");
      },
      error: function () {
        console.log('PDCA Create Error!');
      }
    });

  });

  /*Menu*/
  $(".wheel-button").wheelmenu({
    trigger: "hover",
    animation: "fly",
    animationSpeed: "fast"
  });
</script>

