<%= @project_item.id %>
<%= @project_item.project.id %>
<style>
  body {
    background: white !important;
  }
</style>
<div class="row">
  <table class="table table-default">
    <thead>
    <tr>
      <th>Name</th>
      <th>Improvement Point</th>
      <th>Deadline</th>
      <th>Emails</th>
      <th>Options</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>预装9插端子费力</td>
      <td><%= @project_item.id %></td>
      <td>2015/10/30</td>
      <td><span class="label label-primary">Xu yinjun</span></td>
      <td>
        <i class="glyphicon glyphicon-pencil IconA" style="color: #3498D8;"></i>
        <i class="glyphicon glyphicon-trash IconA" style="color: #E74C3C;"></i>
      </td>
    </tr>
    </tbody>

  </table>
</div>

<!--IE Structure-->

<!--save-->

<!-- Kpi Setting-->

<!--四个KPI load  上一轮的结果-->


<!--url-->

<!--dashboard-->
