<%#= @project_item.id %>
<%#= @project_item.project.id %>
<style>
  .label-primary {
    margin-right: 5px;
  }
</style>
<div class="project_stepy"></div>

<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist" id="pdca_content" style="display: none;">
    <li role="presentation" class="active"><a href="#pdca" aria-controls="pdca" role="tab" data-toggle="tab">PDCA</a>
    </li>
    <li role="presentation">
      <a href="#ie_structure" aria-controls="ie_structure" role="tab" data-toggle="tab">IE Structure</a>
    </li>

    <li role="presentation">
      <a href="#kpi_setting" aria-controls="kpi_setting" role="tab" data-toggle="tab"> KPI Setting</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <!--PDCA-->
    <div role="tabpanel" class="tab-pane active step_content " id="pdca">
      <div class="add-pdca">
        <button class="btn-flat-success">
          <i class="glyphicon glyphicon-plus-sign"></i>
          Add PDCA
        </button>
      </div>
      <div class="row" style="margin:50px 0 0 0;">
        <table class="table table-default">
          <thead>
          <tr>
            <th>Item</th>
            <th>Improvement Point</th>
            <th>Owner</th>
            <th>Deadline</th>
            <th>Status</th>
            <th>Saving</th>
            <th>Remark</th>
            <th>Options</th>
          </tr>
          </thead>
          <tbody class="pdca-tbody">
          <tr id="3">
            <td>Hello</td>
            <td>Hello</td>
            <td>
              <span class="label label-primary" style="cursor: pointer;" title=" admin@ci.com">
                admin
              </span>
              <span class="label label-primary" style="cursor: pointer;" title=" test@ci.com">
                test
              </span>
            </td>
            <td>2016-07-13 14:13:00 UTC</td>
            <td id="100">
              <span class="label label-success">进行中</span>
            </td>
            <td></td>
            <td></td>
            <td id="3">
              <i class="IconA glyphicon glyphicon-pencil edit-pdca md-trigger" data-modal="edit_pdca" style="color: steelblue;"></i>
              <i class="IconA glyphicon glyphicon-remove-circle cancel-pdca md-trigger" data-modal="cancel_pdca" style="color: #16A085;"></i>
              <i class="IconA glyphicon glyphicon-ok-sign finish-pdca md-trigger" data-modal="finish_pdca" style="color: #E67E22;"></i>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <footer class="footer">
        <button type="submit" class="btn-flat-success btn-next btn-pdca-next">
          Next
        </button>
      </footer>
    </div>

    <!--IE Structure-->
    <div role="tabpanel" class="tab-pane step_content" id="ie_structure">
      <div class="row structure-title" style="margin: 0;border-bottom: 1px solid #23B7E5;">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div id="myPaletteDiv"></div>
        </div>
        <div class="col-lg-6 col-mc-6 col-sm-6 col-xs-12" style="text-align: right; padding-right: 26px;">
          <button id="loadModel" class="btn-flat-success" onclick="load()" style="width: 140px; height: 40px; margin-top:8px;">Load</button>
        </div>
      </div>

      <div class="structure-content">
        <div style="display: inline-block; padding: 5px; width:80%;">
          <div id="myDiagramDiv" style="border: 1px solid #23B7E5;"></div>
        </div>
        <div style="display: inline-block; padding: 5px; width:18%">
          <div id="myTreeView" style="border: solid 1px #23B7E5;"></div>
        </div>
      </div>

      <!--will display-->
      <textarea id="mySavedModel" style="width:100%;height:300px;margin-top: 100px;"></textarea>

      <footer class="footer">
        <button type="submit" class="btn-flat-success btn-next btn-ie-structure-next">
          Next
        </button>
      </footer>
    </div>

    <!--Kpi Setting-->
    <div role="tabpanel" class="tab-pane step_content" id="kpi_setting">
      <footer class="footer">
        <button type="submit" class="btn-flat-success btn-next btn-kpi-setting-next">
          Finish
        </button>
      </footer>
    </div>
  </div>
</div>

<!--Add PDCA-->
<div class="md-modal md-effect-1" id="add_pdca">
  <div class="md-content">
    <h4>ADD PDCA</h4>
    <div class="pull-right md-close" style="margin-top: -50px;margin-right: -20px;">
      <i style="color: #E67E22;" class="glyphicon glyphicon-remove"></i>
    </div>

    <div class="pdca-list">
      <input type="text" class="form-control" id="pdca_item" placeholder="PDCA Item">

      <textarea type="text" id="pdca_point" class="form-control" placeholder="Imptovement Point" style="margin-top: 10px; margin-bottom: 10px;"></textarea>

      <textarea class="form-control" id="pdca_owner"></textarea>

      <input type="text" id="deadline" class="form-control date-picker" placeholder="Deadline" style="margin-top: 10px;">
    </div>

    <div class="pdca-btn">
      <button class="btn-flat-primary pdca-btn-add">
        ADD
      </button>
    </div>
  </div>
</div>

<div class="md-overlay"></div>

<!--IE Structure-->


<script type="text/javascript" charset="utf-8">
  $('.date-picker').datetimepicker({
    lang: 'ch',
    timepicker: false
  });

  /*Load Step*/
  $(".project_stepy").loadStep({
    size: "large",
    color: "green",
    steps: [{
      title: "PDCA",
      content: "Project Basic Info"
    }, {
      title: "IE Structure",
      content: "IE Structure"
    }, {
      title: "KPI Setting",
      content: "Set KPI Target"
    }]
  });

  $('.add-pdca').click(function () {
    $('#add_pdca').addClass("md-show");

    $('.pdca-btn-add').click(function () {
      var ItemID = <%= @project_item.id %>;
      var PDCAItem = $('#pdca_item').val();
      var PDCAPoint = $('#pdca_point').val();
      var PDCAEmail = $('#pdca_owner').tagEditor('getTags')[0].tags;
      var Deadline = $('#deadline').val();

      $.ajax({
        url: '/pdca_items',
        type: 'post',
        dateType: 'json',
        data: {
          project_item_id: ItemID,
          item: PDCAItem,
          improvement_point: PDCAPoint,
          emails: PDCAEmail,
          due_time: Deadline
        },
        success: function (data) {
          if (data.result) {
            var PDCAOwner = data.owner;
            var PDCAOwnerHtml = "";
            for (var i = 0; i < PDCAOwner.length; i++) {
              PDCAOwnerHtml += "<span class='label label-primary' title='" + PDCAOwner[i].email + "'>" + PDCAOwner[i].name + "</span>";
            }
            var PDCA = data.pdca;

            $('<tr>' +
                '<td>' + PDCA.title + '</td>' +
                '<td>' + PDCA.content + '</td>' +
                '<td>' + PDCAOwnerHtml + '</td>' +
                '<td>' + new Date(PDCA.due_time).Format("yyyy/MM/dd") + '</td>' +
                '<td title="100"><span class="label label-success">进行中</span></td>' +
                '<td></td>' +
                '<td></td>' +
                '<td id="' + PDCA.id + '"><i class="IconA glyphicon glyphicon-pencil edit-pdca md-trigger" data-modal="edit_pdca" style="color: steelblue;"></i>' +
                '<i class="IconA glyphicon glyphicon-remove-circle cancel-pdca md-trigger" data-modal="cancel_pdca"  style="color: #16A085;"></i>' +
                '<i class="IconA glyphicon glyphicon-ok-sign finish-pdca md-trigger" data-modal="finish_pdca"  style="color: #E67E22;"></i></td><tr>').prependTo('.pdca-tbody');
            $('#add_pdca').removeClass("md-show");
          } else {
            $('<div>' + data.content + '</div>').notifyModal();
          }
        },
        error: function () {
          console.log('PDCA Create Error!');
        }
      });
    })


    ClosePop('#add_pdca');
  });


  /*Get Data*/
  $('.btn-click').click(function () {
    $.ajax({
      url: "/project_items/" + '<%= @project_item.id %>' + '/nodes',
      type: 'get',
      dateType: 'json',
      success: function (data) {
        console.log(data);
      },
      error: function () {
        console.log("Something Error!");
      }
    })
  });


  /***********************************************************************************
   Check Email
   ***********************************************************************************/
  $('#pdca_owner').tagEditor({
    placeholder: 'Owner',
    beforeTagSave (field, editor, tags, tag, val){
      CheckEmail('#pdca_owner', val);
    }
  });

  /*Update PDCA Check Email*/
  $('#edit_pdca_owner').tagEditor({
    placeholder: 'Edit Owner',
    beforeTagSave (field, editor, tags, tag, val){
      CheckEmail('#edit_pdca_owner', val);
    }
  });

  function CheckEmail(div, val) {
    $.ajax({
      url: '/users/check_email',
      type: 'get',
      data: {
        email: val
      },
      success: function (data) {
        console.log(data);
        if (data.result) {

        } else {
          $(div).tagEditor('removeTag', val);
          $('<div>' + val + ' is not exist.</div>').notifyModal();
        }
      },
      error: function () {
        console.log("ADD PDCA User Wrong!");
        $(div).tagEditor('removeTag', val);
        $('<div>Something Error!</div>').notifyModal();
      }
    })
  }

  function ClosePop(div) {
    $('.md-close').click(function () {
      $(div).removeClass('md-show');
    });
  }
</script>

<!--save-->

<!-- Kpi Setting-->

<!--四个KPI load  上一轮的结果-->
<!--url-->

<!--dashboard-->
